/* NAV BAR */
.nav_bar {
    margin: 15px 0;
}

.nav_bar_logo img {
    height: 40px;
    text-align: left;
}

.hamburger-button {
    height: 40px;
    position: relative;
}

.hamburger-button i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-40%)
}

.center_links_menu {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
}

.center_link_item {
    padding-right: 10px;
}

.right_links_menu {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    color: black;
}

.right_link_item {
    margin-right: 10px;
}

.nav_bar_btn {
    padding: 8px;
    border: 1px solid #2385FD;
    border-radius: 5px;
    color: #2385FD;
}

.nav_bar_btn:hover {
    background-color: #2385FD;
    color: white;
}

/* JUMBOTRON */
.a_jumbotron {
    background-image: url("img/bg-banner-home.jpg");
    padding: 50px 0;
}

h1 {
    color: white;
    font-size: 60px;
}

.a_jumbotron p {
    color: #BBCCFF;
    font-size: 23px;
}

.container_white {
    background-color: white;
    border-radius: 5px;
}

.a_jumbotron h2 {
    font-size: 30px;
    padding-top: 30px;
}

.a_jumbotron h3 {
    font-size: 30px;
    color: #2385FD;
    margin-top: 10px;
}

.a_jumbotron input {
    width: 100%;
    margin: 5px 0;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
}

.a_jumbotron .a_email,
.a_jumbotron .a_password {
    width: 90%;
    margin: 0 auto;
}

.a_jumbotron_btn_blu {
    display: block;
    width: 90%;
    height: 25px;
    margin: 0 auto;
    background-color: #2385FD;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    line-height: 25px;
}
.a_jumbotron_btn_blu:hover {
    color: white;
    text-decoration: none;
}

.a_jumbotron_btn_g {
    display: block;
    position: relative;
    width: 90%;
    height: 25px;
    margin: 0 auto;
    color: #717171;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px #717171;
    line-height: 25px;
}
.a_jumbotron_btn_g:hover {
    color: #717171;
    text-decoration: none;
}

.a_jumbotron_btn_g img {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    height: 20px;
}

.a_jumbotron_terms {
    color: black;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.a_jumbotron_terms span {
    color: #2385FD;
    text-decoration: underline;
}

/* HEADER LOGOS */
.header_logos {
    background-color: #F2F5F9;
}

.header_logos h2 {
    color: #828EA5;
    margin: 0;
    padding-top: 30px;
    font-size: 20px;
}

.header_logos img {
    width: 100%;
    vertical-align: middle;
}

/* .header_logo {
    height: 130px;
    line-height: 130px;
} */

.header_logos_stories {
    color: #2385FD;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* SECTION 1 (BIANCA) */
.section_1 h2 {
    color: #082051;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

.section_1 p {
    color: #63708C;
    font-size: 20px;
    text-align: center;
}

.wrapper70 {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.section_1 ul {
    padding: 0;
    padding-left: 10px;
    border-left: 1px solid #63708C;
}

.section_1 li {
    list-style: none;
    color: #63708C;
    padding: 5px 0;
}

.section_1_items img {
    margin-top: 10px;
}

.section_1_items h3 {
    color: #082051;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
}

.section_1_items p {
    font-size: 16px;
    text-align: left;
}

@media all and (min-width: 992px) {
    .section_1_items {
        height: 215px;
    }
}

@media all and (max-width: 991px) {
    .wrapper70 {
        width: 100%;
    }
}

/* SECTION 2 (GRIGIA) */
.section_2 {
    background-color: #F2F5F9;
    padding-bottom: 50px;
}

.section_2 h2 {
    color: #082051;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}

.section_2 p {
    color: #63708C;
    font-size: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.section_2 img {
    width: 50%;
}

@media all and (max-width: 991px) {
    .section_2 img {
        width: 80%;
    }
}

.section_2 figure p {
    color: #082051;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* SECTION 3 (BIANCA) */
.section_3 {
    padding: 50px 0;
}

.section_3 h2 {
    color: #082051;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

.section_3 img {
    margin-top: 10px;
}

.section_3 h3 {
    color: #082051;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
}

.section_3 p {
    font-size: 16px;
    text-align: left;
}

.section_3 a {
    font-size: 16px;
    text-align: left;
    color: #2385FD;
}

/* SECTION 4 (BLU) */
.section_4 {
    background-color: #002AA3;
    padding: 50px 0;
}

.section_4 h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

.section_4_code {
    color: white;
    font-size: 16px;
}

.section_4_place {
    color: white;
    font-size: 14px;
}

.section_4 a {
    color: white;
    font-size: 14px;
}

.section_4 hr {
    width: 100%;
    color: white;
    margin: 5px 0;
}

.section_4_first {
    padding-top: 30px;
}

/* SECTION 5 (GRIGIA) */
.section_5 {
    background-color: #F2F5F9;
    padding: 50px 0;
}

.section_5 h2 {
    color: #082051;
    font-size: 30px;
    margin: 0;
    padding-bottom: 30px;
}

.section_5_container {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px 0;
}

@media all and (min-width: 2000px) {
    .section_5_container {
        width: 1000px;
    }
}

.section_5_container img {
    width: 50%;
    padding-bottom: 15px;
}

@media all and (max-width: 991px) {
    .section_5_container img {
        width: 95%;
    }
}
@media all and (min-width: 2000px) {
    .section_5_container img {
        width: 500px;
    }
}

.section_5_container p {
    color: #63708C;
    font-size: 20px;
}

.section_5_name {
    color: #152A59;
    font-size: 18px;
}

.section_5_position {
    color: black;
    font-size: 18px;
    margin-bottom: 30px;
}

.section_5_container a {
    color: #2385FD;
    font-size: 18px;
}

/* SECTION 6 (BLU) */
.section_6 {
    background-color: #002AA3;
    padding: 50px 0;
}

.section_6 h2 {
    color: white;
    font-size: 30px;
    margin: 0;
    margin-bottom: 40px;
}

.section_6 a {
    background-color: white;
    color: #2385FD;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}